table{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
}

thead{
    position: sticky;
    top: 0px;
}

img{
    width: 25px;
    height: 25px;
}

th{
    background-color: aquamarine;
}

.column-name{
    text-align: center;
    width: 250px;
    background-color: yellow;
}

.modifications > a{
    margin: 0 5%;
}

#delete-selected{
    position: absolute;
    right: 5px;
    float: right;
}
